body {
  height: auto;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: "Inter", sans-serif;
}

span {
  background-color: #1bffd9;
  padding: 2px;
}

button {
  width: 220px;
  height: 60px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #004080;
  color: white;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 18px;
}

#navigation-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 31, 63, 0.95);
  height: 85px;
  width: 100vw;
  z-index: 999;
}

#navigation-button {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 25px;
  width: 150px;
  border: 1px solid #004080;
  background-color: white;
  color: black;
  transition: 0.2s ease;
  font-size: 16px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey;
  cursor: pointer;
}

#navigation-button:hover {
  border: 1px solid rgb(255, 0, 255);
  box-shadow: -1px 1px 149px -36px rgba(255, 0, 255, 0.75);
  color: rgba(255, 0, 255, 0.75);
}

#Uniffy-icon {
  width: 150px;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}

#button-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#nav-text {
  color: white;
  margin-left: 100px;
  font-size: 20px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
}

.first-section h1 {
  font-size: 40px;
}

#img-container {
  width: 80vw;
  height: 70vh;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/background-img.jpg);
  cursor: pointer;
  transition: 0.7s;
}

#img-container:hover {
  transform: translateY(-10px);
}

.text {
  font-size: 20px;
}

.second-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  margin-top: 100px;
}

#text-section,
#img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

#text-section {
  padding-left: 50px;
  flex-direction: column;
}

#mentorship-gif {
  width: 400px;
  height: auto;
}

#sign-up {
  height: 50px;
}

.third-section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.last-section {
  margin-top: 200px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.last-section .text-section h2 {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 40px;
}

.last-section .img-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 20px;
}
#security {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  width: 400px;
  border-radius: 15px;
  padding: 12px;
  gap: 10px;
  cursor: pointer;
  border: 1px solid #26293c;
  z-index: 1;
  overflow: hidden;
  transition: 0.2s ease;
}

#security::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 17px;
  padding: 3px;
  background: linear-gradient(90deg, #4ee1ec, #2104e0, #4ee1ec);
  background-size: 300% 300%;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  transition: opacity 0.3s ease;
  opacity: 0;
  animation: borderGlow 3s linear infinite;
}

#security:hover::before {
  opacity: 1;
}

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-2 p {
  font-family: "Inter", sans-serif;
  color: #8a96b1;
}

.text-2 h2 {
  font-family: "Inter", sans-serif;
  color: black;
  margin-bottom: 10px;
}

.security-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

#security-icon1 {
  height: 80px;
  width: 80px;
}

#custom-footer {
  height: 40vh;
  width: 100vw;
  background-color: black;
}
