<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uniffy-Home</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body">
    <nav class="nav">
      <img
        id="Uniffy-icon"
        src="static/img/logo.png"
        alt="uniffy Icon"
        onclick="window.location.href='/';"
      />
      <div class="buttons">
        <button onclick="window.location.href='/register';" class="signup">
          Sign Up
        </button>
        <button onclick="window.location.href='/login';" class="login">
          Log In
        </button>
      </div>
    </nav>
    <section>
      <div class="topdiv">
        <div class="frontdiv">
          <img id="Uniffy-icon2" src="static/img/logo.png" alt="uniffy Icon" />
          <p class="mainp">
            Guided by those who’ve walked the path — Uniffy connects you to your
            future.
          </p>
          <button
            class="getstarted"
            onclick="window.location.href='/register';"
          >
            Get started
          </button>
        </div>
      </div>
    </section>
    <section>
      <div class="divonabout">
        <div class="aboutdiv">
          <h1 class="abouttitle">About Us</h1>
          <div class="about1div">
            <p class="aboutp1">
              Uniffy is a dynamic mentorship platform built to bridge the gap
              between Kenyan university students and high school learners
              seeking career guidance.
            </p>
          </div>
          <p class="aboutp2">
            We believe that the journey to a fulfilling career begins with the
            right mentorship — from people who've walked the path before.
          </p>
          <p class="aboutp3">
            At Uniffy, we connect high school students with passionate
            university mentors who provide real-world insights into various
            careers, help students explore their interests, and guide them in
            choosing suitable universities and courses. Whether you're a student
            confused about career options or simply looking for someone to walk
            with you on your academic journey, Uniffy makes that connection
            possible.
          </p>
          <p class="aboutp4">
            Our goal is to empower the next generation with the knowledge,
            clarity, and confidence they need to shape their future — one guided
            step at a time.
          </p>
        </div>
      </div>
      <footer class="footer">
        <h1 class="footertxt">Uniffy @copyright 2025</h1>
      </footer>
    </section>
  </body>
</html>
