<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uniffy - My Mentors</title>
    <link rel="stylesheet" href="/static/css/mentors.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navigation-panel">
      <img
        id="Uniffy-icon"
        src="static/img/logo.png"
        alt="uniffy-icon"
        onclick="window.location.href='/';"
      />
      <div id="home" onclick="window.location.href='/home';">
        <img id="home-icon" src="static/img/home.png" alt="home-icon" />
        <h2>Home</h2>
      </div>
      <div id="mentors" onclick="window.location.href='/mentors';">
        <img id="mentors-icon" src="static/img/person.png" alt="mentors-icon" />
        <h2>Mentors</h2>
      </div>
      <div id="courses" onclick="window.location.href='/courses';">
        <img
          id="courses-icon"
          src="static/img/courses.png"
          alt="courses-icon"
        />
        <h2>Courses</h2>
      </div>
      <div id="messages" onclick="window.location.href='/messages';">
        <img
          id="messages-icon"
          src="static/img/messages.png"
          alt="messages-icon"
        />
        <h2>Messages</h2>
      </div>
      <div id="overview" onclick="window.location.href='/overview';">
        <img
          id="overview-icon"
          src="static/img/overview.png"
          alt="overview-icon"
        />
        <h2>Overview</h2>
      </div>
      <div id="log-out" onclick="window.location.href='/logout';">
        <h2>➜]</h2>
      </div>
    </div>
    <div class="main-content">
      <div class="search-container">
        <div class="search-field">
          <div class="search-icon">
            <svg
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.35-4.35"></path>
            </svg>
          </div>
          <input
            type="text"
            placeholder="Search mentors near you..."
            class="search-input"
          />
        </div>
      </div>

      <main class="mentors-section">
        <h2 class="section-title">Your Mentors</h2>
        <div class="mentor-grid">
          <!-- MENTOR CARD -->
          <div class="mentor-card">
            <div class="img-container">
              <img
                src="static/img/blackgirl.png"
                alt="Mentor 1"
                class="mentor-img"
              />
            </div>

            <h3 class="mentor-name">Angela Mwangi</h3>
            <p class="mentor-career">Software Engineering @ Strathmore</p>
            <button class="mentor-btn">Message</button>
          </div>

          <div class="mentor-card">
            <div class="img-container">
              <img
                src="static/img/blackgirl.png"
                alt="Mentor 1"
                class="mentor-img"
              />
            </div>

            <h3 class="mentor-name">Angela Mwangi</h3>
            <p class="mentor-career">Software Engineering @ Strathmore</p>
            <button class="mentor-btn">Message</button>
          </div>

          <div class="mentor-card">
            <div class="img-container">
              <img
                src="static/img/blackguy.png"
                alt="Mentor 1"
                class="mentor-img"
              />
            </div>
            <h3 class="mentor-name">Carlos Otieno</h3>
            <p class="mentor-career">Architecture @ JKUAT</p>
            <button class="mentor-btn">Message</button>
          </div>

          <div class="mentor-card">
            <div class="img-container">
              <img
                src="static/img/blackmuslim.jpeg"
                alt="Mentor 1"
                class="mentor-img"
              />
            </div>
            <h3 class="mentor-name">Zahra Yusuf</h3>
            <p class="mentor-career">Medicine @ UON</p>
            <button class="mentor-btn">Message</button>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
